services:
  
  # APPLICATION
  app_web:

    image: ###### image chargé depuis le registry 
    container_name: app_docker-compose
    restart: unless-stopped
    ports:
      - "{{ deploy_app_port }}:8501"
    networks:
      - back
    env_file:
      - .env.app
    depends_on:
      mysql:
        condition: service_healthy
  

  # BDD

  mysql:
    image: mysql:8.4
    networks:
      - back
    container_name: mysql
    restart: unless-stopped
    volumes:
      - ./db/commands.sql:/docker-entrypoint-initdb.d/commands.sql:ro
      - bdd_data:/var/lib/mysql
    env_file:
      - .env.db
    healthcheck:
       test: ["CMD-SHELL", "mysqladmin ping -h localhost -u {{ MYSQL_USER }} -p{{ MYSQL_PASSWORD }}"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

    
  phpmyadmin:
    image: phpmyadmin:5.2.3
    container_name: phpmyadmin
    ports: 
      - "{{ phpmyadmin_port }}:80"
    networks:
      - back
    depends_on:
      mysql:
        condition: service_healthy
        ## à refaire une fois connecté sur la vm linux pour faciliter une jonction commune
    environment:
      - PMA_ARBITRARY=1
      - "PMA_HOST={{ DB_HOST }}"
      - "PMA_USER={{ DB_USER }}"
      - "PMA_PASSWORD={{ MYSQL_PASSWORD }}"
      - "PMA_PORT={{ MYSQL_PORT }}"

volumes:
  bdd_data:
    driver: local


networks:
  back:
    driver: bridge
    #driver_opts:
      #com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
  

## le fichier devient dynamique maintenant(pour une bonne flexibilité)
